In [1]:
import pandas as pd

# 1. Data Frame - Creation with a Dictionary
When using a dictionary to create a dataframe, the key becomes a column name. The array assigned to each key is the column data.

In [2]:
european_cities = {
    "cities":["Istanbul","Moscow","Paris","London","Madrid"],
    "population":[15000000,12000000,11000000,9000000,6000000]
}
df = pd.DataFrame(european_cities)
df

     cities  population
0  Istanbul    15000000
1    Moscow    12000000
2     Paris    11000000
3    London     9000000
4    Madrid     6000000

# 2. Date Frame - Creation from a list of lists

In [3]:
european_cities_list = [
    ["Istanbul",15000000],
    ["Moscow",12000000],
    ["Paris",11000000],
    ["London",9000000],
    ["Madrid",6000000]
]
df = pd.DataFrame(european_cities_list, columns=["cities","population"])
df

     cities  population
0  Istanbul    15000000
1    Moscow    12000000
2     Paris    11000000
3    London     9000000
4    Madrid     6000000

# 3. Data Frame - Creation from a list of lists - with unique Index
You can setup the dataframe to have a unique index instead of an auto incremented number.

In [4]:
df_unq_index = pd.DataFrame(
    [[15000000],[12000000],[11000000]], 
    index=['Istanbul','Moscow','Paris'], columns=['population'])
df_unq_index

          population
Istanbul    15000000
Moscow      12000000
Paris       11000000

# 4. Data Frame - Creation from a CSV or Excel spreadsheet

- See other files for more options for working with Excel using openpyxl (such as keeping or dropping Index and/or Headers when exporting.)

In [5]:
# Save the population dataframe to a csv
df.to_csv('populations.csv')
# OPEN from a csv file
df = pd.read_csv('populations.csv')
df

   Unnamed: 0    cities  population
0           0  Istanbul    15000000
1           1    Moscow    12000000
2           2     Paris    11000000
3           3    London     9000000
4           4    Madrid     6000000