In [1]:
import pandas as pd
from datetime import datetime

In [2]:
european_cities_list = [
    ["Istanbul",15000000],
    ["Moscow",12000000],
    ["Paris",11000000],
    ["London",9000000],
    ["Madrid",6000000]
]
df = pd.DataFrame(european_cities_list, columns=["cities","population"])
df

     cities  population
0  Istanbul    15000000
1    Moscow    12000000
2     Paris    11000000
3    London     9000000
4    Madrid     6000000

# 1. Head and Tail

In [3]:
df.head(2)

     cities  population
0  Istanbul    15000000
1    Moscow    12000000

In [4]:
df.tail(2)

   cities  population
3  London     9000000
4  Madrid     6000000

# 2. Columns - Remove an unnecessary column

In [5]:
# Save the population dataframe to a csv
df.to_csv('populations.csv')
# OPEN from a csv file
df = pd.read_csv('populations.csv')
df

   Unnamed: 0    cities  population
0           0  Istanbul    15000000
1           1    Moscow    12000000
2           2     Paris    11000000
3           3    London     9000000
4           4    Madrid     6000000

In [6]:
del df['Unnamed: 0']
df

     cities  population
0  Istanbul    15000000
1    Moscow    12000000
2     Paris    11000000
3    London     9000000
4    Madrid     6000000

# 3. Data Types - exploring column data types

- Strings are classed as 'object'

In [7]:
df_food = pd.DataFrame(
    [["Chicken",3,14.5,False,datetime(2022,2,15)],["Carrots",2,23.5,True,datetime(2022,2,15)],["Bread",1,18,True,datetime(2022,2,15)]], 
    columns=["Product","Price","Discount","In stock","Next delivery date"]
)
df_food.dtypes

Product                       object
Price                          int64
Discount                     float64
In stock                        bool
Next delivery date    datetime64[ns]
dtype: object

# 4. Sort - apply a sort to existing dataframe

In [8]:
df.sort_values(by=["population"], ascending=True, inplace=True)
df

     cities  population
4    Madrid     6000000
3    London     9000000
2     Paris    11000000
1    Moscow    12000000
0  Istanbul    15000000

# 5. Index - reset index numbers after a sort (or any function)

In [9]:
df.reset_index(drop=True, inplace=True)
df

     cities  population
0    Madrid     6000000
1    London     9000000
2     Paris    11000000
3    Moscow    12000000
4  Istanbul    15000000

# 6. Index - Drop an Index from a dataframe when exporting

- Before saving a dataframe to another format such as an Excel spreadsheet, you may want to remove the index from the data frame.

In [10]:
df.to_csv('populations2.csv', index=False)